h1,
h2,
h3 {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

p {
    font-family: 'Poppins', serif;
    font-size: 16px;
    line-height: 1.7;
}

.hero {
    background: #f9f7fe;
    text-align: center;
    padding: 160px 0;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-family: 'Poppins', serif;
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.btn-branding {
    background: #6c63ff;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    background: white;
    color: #6c63ff;
    border: 1px solid #6c63ff;
        border-radius: 4px;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
}

.project-des {
    padding: 120px 60px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 60px;
    }
    .project-des {
            padding: 0;
            text-align: center;
        }
}